<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Created Recipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class='container'>
        <div class='row mt-5 text-info'>
            <div class='col'>
                <h4>Welcome {{ session[user.first_name] }}!</h4>
            </div>
            <div class='col'>
                <a class='text-info' href='/PUT SOMETHING HERE'>Dashboard</a>
                <a class='text-info' href='/PUT SOMETHING HERE'>Logout</a>
            </div>
        </div> <!-- END ROW -->

        <div class='row'>
            <div class='col'>
                <h4>{{ recipe.name }}</h4>
                <div class='card'>

                </div>
            </div>
        </div> <!-- END ROW -->
</body>
</html>