<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Created Recipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class='container'>
        <div class='row mt-5 text-info'>
            <div class='col'>
                <h4>Welcome {{ user.first_name }}!!</h4>
            </div>
            <div class='col'>
                <a class='text-info' href='/dashboard'>Dashboard</a>
                <a class='text-info' href='/logout'>Logout</a>
            </div>
        </div> <!-- END ROW -->

        <div class='mt-2 row'>
            <h4>{{ recipe.name }}</h4>
            <div class='col'>
                <div class='p-3 card bg-light' style='width: 40rem;'>
                    <table class='table'>
                        <tr>
                            <td class='col-sm-1'>Name:</td>
                            <td>{{ recipe.name }}</td>
                        </tr>
                        <tr>
                            <td>Under 30 Minutes:</td>
                            <td>{{ recipe.under_30 }}</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>{{ recipe.description }}</td>
                        </tr>
                        <tr>
                            <td>Instructions:</td>
                            <td>{{ recipe.instructions }}</td>
                        </tr>
                        <tr>
                            <td>Date Made:</td>
                            <td>{{ recipe.created_at.strftime('%m-%d-%Y') }}</td>
                        </tr>
                    </table>
                </div> <!-- END CARD -->
        </div> <!-- END ROW -->
</body>
</html>